*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* header start */
header{
    max-width: 1340px;
    margin: 70px auto;
}
.header-banner{
    background-image:
    linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) ,url('img/Banner\ Image.png');
    background-position: center;
    padding: 250px;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    border-radius: 20px;
    color: white;
}
header h4{
    font-size: 30px;
}
header h1{
    font-size: 55px;
}



/* header end */

/* section All categories start */

.all-categories{
    text-align: center;
    margin-top: 150px;
}
.all-categories img{
    width: 802.9px;
    height: 500px;
}
.all-categories h2{
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}
.all-categories h5{
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 15px;
}
.all-categories h3{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

 /* section All categories end*/ 

 /*  Midnight party section start  */

 .midnight-party{
    background-image:
     linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('img/Vectorrr.png');
    width: 1320px;
    height: 600px;
    margin: 200px auto;
    border-radius: 15px;
    background-repeat: no-repeat;
    
 }
 .midnight-party-container{
    color: #FFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 70px;
 }
 .midnight-party-container h2{
    width: 642px;
    font-size: 60px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 10px;

 }
 .midnight-party-container p{
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
 }
 .midnight-party-container h4{
    font-size: 25px;
    margin-left: 35px;
    cursor: pointer;
 }
 /*  Midnight party section end */

 /*  address section start */
 .address{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    margin: 200px auto;
    border-radius: 15px;

 }  
 .address-container{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    line-height: 56px; 
    text-transform: capitalize;
    padding: 100px;
 }
 .address-container h4 span{
    color: #F00;    
}
.address-container .join-now-btn{
    background-color: #F00;
    border-radius: 8px;
    padding: 16px 32px;
    color: white;
    border: none;
    font-weight: 600;
    margin-top: 30px;
    transition: 0.5s;
}
.address-container .join-now-btn:hover{
       background-color: gold;
       color: black;
}
 /*  address section end */

 /* new best offer section start */
.new-offer-container{
    display: flex;
    gap: 50px;
    margin: 150px ;
}
.new-offer-container .container2 img{
    border: 15px solid #F00;
    border-radius: 50%;
    padding: 20px;
}
.new-offer-container .container1 h5{
    color: #F00;
    font-size: 24px;
    font-weight: 400;
}
.new-offer-container .container1 h3{
    color: #070211;
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
   
}
.new-offer-container .container1 p{
    color: rgba(7, 2, 17, 0.60);
    font-size:15px;
    font-weight: 400;
    line-height: 32px; 
    margin-top: 10px;
 }
 .new-offer-container .container3 h3{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
 }
 .new-offer-container .container3 p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 20px;
 }

 /* new best offer section end */

 /* awesome portfolio section start */
 .awesome-portfolio{
    max-width: 1340px;
    margin: 70px auto;
 }
 .awesome-portfolio .awesome-container h5{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;

 }
 .awesome-portfolio .awesome-container h2{
    color: #070211;
    font-size: 50px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 10px;
 }
 .awesome-portfolio .awesome-container p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 14px;
    font-weight: 400;
    width: 896px;
 }
 .gallery{
    margin-top: 40px;
    
 }
 .gallery .image img{
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 2s;
  
 }
 .gallery .image img:hover{
    transform: rotate(360deg);
 }
 /* awesome portfolio section end */

 /* subscribe section start */
 .subscribe{
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    max-width: 1340px;
    margin: 70px auto;
    text-align: center;
   
 }
 .subscribe .subscribe-container{
    padding: 100px 200px ;
 }
 .subscribe .subscribe-container h2{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 10px 0;
 }
 .subscribe .subscribe-container p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
 }
 .subscribe .subscribe-container .inputs{
    display: flex;
    width: 75%;
    margin: 0 auto;
 }
 .subscribe .subscribe-container .email-input, .submit-input{
    border: none;
 }
 .subscribe .subscribe-container .email-input{
    padding: 15px 120px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
 }
 .subscribe .subscribe-container .submit-input{
    padding: 15px 80px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #F00;
    color: white;
    transition: 0.5s;
 }
 .subscribe .subscribe-container .submit-input:hover{
    background-color: gold;
       color: black;
 }
 /* subscribe section end */

 /* footer section start */
 footer{
    background: #070211;
    color: white;
    height: 350px;
    padding: 100px;
 }
 .footer-address {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .footer-address h6{
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px; 
 }
 .footer-address .footer-info{
    display: flex;
    align-items: center;
    gap: 8px;
 }
 hr{
    margin: 35px 0;            
    border: 1px solid  rgba(255, 255, 255, 0.15) ;

 }
 .footer-icons .footer-icon{
    width: 50px;
    margin-right: 15px;
 }
 .footer-copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
 } 
 .footer-copyright h6{
    
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px; 
 }
 /* footer section end */


 /* optional section start  */
.optional-section{
   max-width: 1340px;
   margin: 200px auto;
   background-image: url("img/Group\ 75.png"), url("img/Rectangle\ 2.png"), url("img/Rectangle\ 1.png");
   background-repeat: no-repeat;
   height: 890px;
   background-position: bottom left, bottom, right;
   width: 1310px;
}
.optional-section .optional-container{
     text-align: center;
}
.optional-section .optional-container h5{
   color: #070211;
   font-size: 24px;
   font-weight: 500;
}
.optional-section .optional-container h1{
   color: #070211;
   font-size: 72px;
   font-weight: 900;
}
.optional-section .optional-container p{
   color: rgba(7, 2, 17, 0.60);
   font-size: 20px;
   font-weight: 500;
}

 /* optional section end */